<div class="panel panel-primary pn-marge">
  <div class="panel-heading">Creer un nouveau compte</div>
  <div class="panel-body">
    <form>
      <div class="form-row">
        <div class="col-md-6 form-ro">
          <label >Compte debit</label>
          <input type="text" class="form-control" name="creation" required>
        </div>

        <div class="col-md-6 form-ro">
          <label >Compte credit</label>
          <input type="text" class="form-control" name="creation" required>
        </div>

      </div>

      <div class="form-row">
        <div class="col-md-6 form-ro">
          <label >Montant</label>
          <input type="text" class="form-control" name="creation" required>
        </div>

        <div class="col-md-6 form-ro">
          <label >Date</label>
          <input type="date" class="form-control" name="creation" required>
        </div>

      </div>


      <div class="form-row">
        <div class="col-md-12 form-ro">
          <label >Agent</label>
          <select class="form-control" name="etat"  required>
            <option selected disabled>Choix de l'agent...</option>
            <optgroup >
              <option value="v1">Mehdi</option>
              <option value="v2">Youness</option>
            </optgroup>
          </select>

        </div>

      </div>

      <button class="btn btn-primary my-btn" type="submit" name="Ajouter">Ajouter</button>

    </form>
  </div>

</div>
