<div class="panel panel-primary pn-marge">
  <div class="panel-heading"> Listes des clients </div>
  <div class="panel-body">
    <!--<div class="border">
      <button class="btn btn-md btn-outline-primary">
        <i class="fa fa-user"></i>Nouveau client</button>
    </div>--->

  </div>

  <div class=" pn-marge">
    <table *ngIf="clients" class="table table-bordered table-sm row-border hover" id="datatableexample" >
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nom</th>
        <th scope="col">Prenom</th>
        <th scope="col">Email</th>
        <th scope="col">login</th>
        <th scope="col">Telephone</th>
        <th scope="col">Agence</th>
        <th scope="col">Action</th>


      </tr>
      </thead>

      <tbody>
         <tr *ngFor="let p of clients">
           <td>{{p.id}}</td>
           <td>{{p.nom}}</td>
           <td>{{p.prenom}}</td>
           <td>{{p.email}}</td>
           <td>{{p.tele}}</td>
           <td>{{p.login}}</td>
           <td>{{p.agence.nom}}</td>
           <td>
             <button class="btn1 btn-sm btn-warning">
               <i class="fa fa-edit"></i></button>
             <button class="btn1 btn-sm btn-danger">
               <i class="fa fa-remove"></i></button>
           </td>
         </tr>
      </tbody>

    </table>

  </div>

</div>
