<div class="panel panel-info pn-marge">
  <div class="panel-heading">Creer un nouveau client</div>
  <div class="panel-body">
    <form  #f="ngForm" (ngSubmit)="onAjouterClient(f.value)">

      <div class="form-row">
        <div class="col-md-12">
          <label >Choix d'agence</label>
          <select class="form-control" name="id_agences"  required ngModel>
            <option selected disabled>Choix de l'agence...</option>
            <optgroup *ngFor="let p of agence">
              <option value="{{p.id}}">{{p.nom}}</option>
            </optgroup>
          </select>
        </div>
      </div>

      <div class="form-row">
        <div class="col-md-6 form-ro">
          <label >Nom</label>
          <input type="text" class="form-control" name="nom" required ngModel>

        </div>

        <div class="col-md-6 form-ro">
          <label >Prenom</label>
          <input type="text" class="form-control" name="prenom" required ngModel>
        </div>

      </div>


      <div class="form-row">

        <div class="col-md-6 form-ro">
          <label >Email</label>
          <input type="text" class="form-control" name="email" required ngModel>
        </div>

        <div class="col-md-6 form-ro">
          <label >Telephone</label>
          <input type="text" class="form-control" name="tele" required ngModel>

        </div>

      </div>

      <div class="form-row">
        <div class="col-md-6 form-ro">
          <label >Login</label>
          <input type="text" class="form-control" name="login" required ngModel>

        </div>

        <div class="col-md-6 form-ro">
          <label >Password</label>
          <input type="text" class="form-control" name="password" required ngModel>

        </div>

      </div>
      <button class="btn btn-primary my-btn" type="submit" name="Ajouter">Ajouter</button>

    </form>
  </div>

</div>
