<nz-layout class="app-layout" >
  <nz-sider class="menu-sidebar" nzTheme="light"
            nzCollapsible
            nzWidth="256px"
            nzBreakpoint="md"
            [(nzCollapsed)]="isCollapsed"
            [nzTrigger]="null">
    <div class="sidebar-logo">
      <a routerLink="/welcome">

        <h1>ESPACE BANQUIER</h1>
      </a>
    </div>
    <ul  nz-menu  nzMode="inline" [nzInlineCollapsed]="isCollapsed">

      <li nz-submenu nzOpen nzTitle="Gestion des clients" nzIcon="dashboard">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/welcome">Ajouter client</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/clients">Mes clients</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a>Clients Suspendu(es)</a>
          </li>
        </ul>
      </li>

      <li nz-submenu nzOpen nzTitle="Gestions Enrolements" nzIcon="form">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a>Enroler Clients</a>
          </li>
        </ul>
      </li>

    </ul>
  </nz-sider>


  <nz-layout>
    <nz-header>
      <div class="app-header">
        <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
            <i class="trigger"
               nz-icon
               [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
            ></i>
        </span>
      </div>
    </nz-header>

   <nz-content>
      <div class="inner-content">
            <router-outlet></router-outlet>
      </div>
    </nz-content>



  </nz-layout>
</nz-layout>
